@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
</head>

<body>
    <div style="background-color: aqua;">
        <div class="container border border-primary">
            <div style="background-color: white">
                <div style="margin-left:500px;">
                    <h1><b><u>Registration Form</u></b></h1>
                </div>
                <div>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor totam expedita ea iure minima
                    eligendi odio, explicabo quaerat sunt sint nobis laudantium consectetur nulla aut ratione distinctio
                    ducimus ut quidem?
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="name" aria-label="name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Date of birth"
                                   aria-label="Date of birth">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Address1" aria-label="Address1">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Address2" aria-label="Address2">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="City" aria-label="City">
                        </div>
                        <div class="col">
                            <div class="row">
                                <input type="text" class="form-control" placeholder="Phone number"
                                       aria-label="Phone number">
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                               value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">Home</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                                               value="option2">
                                        <label class="form-check-label" for="inlineCheckbox2">Cell</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <hr>
                    </div>
                    <div style="background-color: gray;">
                        <div style="margin-left:520px;">
                            <h2><b>Contact Details</b></h2>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Bussiness Name"
                                   aria-label="Bussiness Name">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Father's Name"
                                   aria-label="Father's Name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Mother's Name"
                                   aria-label="Mother's Name">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Other1" aria-label="Other1">
                        </div>
                        <div class="col">
                            <div class="row">
                                <input type="text" class="form-control" placeholder="Other2" aria-label="Other2">
                            </div>
                        </div>
                    </div>
                    <div style="background-color: gray;">
                        <div style="margin-left:510px;">
                            <h2><b>Other Information</b></h2>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="row">
                            <div class="col">
                                <div>
                                    Annual Payment
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="$" aria-label="$">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    Total Annual Payment
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="$" aria-label="$">
                            </div>
                        </div>
                        <div>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis earum iste fugiat
                            eaque odio voluptatum modi, recusandae, impedit officiis aperiam deleniti eos, unde porro
                            dolorum quasi consectetur. Error, totam suscipit.
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Full name" aria-label="Full name">
                        </div>
                        <div class="col">
                            <div class="row">
                                <input type="text" class="form-control" placeholder="Paid via" aria-label="Paid via">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col">
                            <textarea class="form-control" placeholder="Date" aria-label="Date"></textarea>
                        </div>
                        <div class="col">
                            <div class="row">
                                <textarea class="form-control" placeholder="Signature" aria-label="Signature"></textarea>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left: 550PX;">WWW.YOURWEBSITE.COM</div>
                </div>
            </div>
        </div>
        <div>
            <div style="margin-left: 570PX;">
                <h1><b>design by freepik</b></h1>
            </div>
        </div>
    </div>

</body>

</html>

